@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap');

body {
    background: url(https://wallpaper.dog/large/17077813.jpg) no-repeat; 
    font-family: 'Andika', sans-serif;
    padding: 100px 0;
    background-size: 100%;
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 14px;
    margin-left: 30px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 14px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 7px;
    margin-bottom: 14px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 7px;
    margin-bottom: 14px;
    text-align: right;
}

h6 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: -15px;
}

p {
    line-height: 20px;
}

p2 {
    font-size: 18px;
    word-spacing: 50px;
}

.container {
    width: 875px;
    min-height: 580px;
    border: 10px solid #f0c742e3;
    margin: 0 auto;
    background: rgb(239, 240, 217);
}

.container2 {
    width: 875px;
    min-height: 840px; 
    border: 10px solid #f0c742e3;
    margin: 0 auto;
    background: rgb(239, 240, 217);
}

.header {
    display: flex;
    height: 200px;
}

.title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 80%;
    height: 100%;
    border: 3px solid #f0e053;
    margin-right: 10px;
    margin-left: 2px;
    margin-top: 2px;
   
}

.userpic {
    display: flex;
    width: 30%;
    height: 100%;
    border: 3px solid #f0e053;
    margin-right: 2px;
    margin-top: 2px;
    background: url(https://sun9-85.userapi.com/impf/c852320/v852320470/7a99a/_g6w2380mY8.jpg?size=1280x960&quality=96&sign=537ca15327589ce4d9e6ad8e3e81aeb7&type=album) no-repeat center center / cover;
}

.userpic2 {
    display: flex;
    width: 30%;
    height: 100%;
    border: 3px solid #f0e053;
    margin-right: 2px;
    margin-top: 2px;
    background: url(https://sun9-39.userapi.com/impg/J0O3DUXlSbnG8a3t0HddpE_Qit0blXUBorQlwA/K0y_CprOPQc.jpg?size=997x827&quality=95&sign=c2adfc96d8b9eeeb0c33c158997baf6b&type=album) no-repeat center center / cover;
}

.userpic3 {
    display: flex;
    width: 30%;
    height: 100%;
    border: 3px solid #f0e053;
    margin-right: 2px;
    margin-top: 2px;
    background: url(https://sun9-85.userapi.com/impf/c852320/v852320470/7a896/7TLsJY8rwMc.jpg?size=1280x960&quality=96&sign=e784a7b02b5561451ad1503aa9823d5e&type=album) no-repeat center center / cover;
}

.nav ul {
    display: flex;
    background-color: rgba(247, 244, 68, 0.404);
    margin: 10px 0;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-right: 1px solid black;
    transition: background .3s ease; 
}

.nav li a:hover {
background: rgba(245, 233, 120, 0.849);
}

.content-wrapper {
    display: flex;
}

.content {
    width: 70%;
    padding: 20px;
}

.content2 {
    width: 100%;
    padding: 20px
}

.content3 {
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 30%;
    border: 3px solid #f0e053;
    padding: 20px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.skills li {
    margin: 17px 0;
    transition: transform .5s ease;
}

.skills li:hover{
    transform: translateX(10px);
}

.achievements li {
    margin-bottom: 14px;
}

.sidebar2 {
    width: 87%;
    height: 100%;
    border: 3px solid #f0e05300;
    padding: 47px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar3 {
    width: 13%;
    height: 350%;
    border: 3px solid #6b53f000;
    padding: 47px;
}

.sidebar4 {
    width: 13%;
    height: 100%;
    border: 3px solid #65f05300;
    padding: 47px;
}

.sidebar5 {
    width: 13%;
    height: 50%;
    border: 3px solid #f053d600;
    padding: 47px;
}

.sidebar6 {
    width: 13%;
    height: 50%;
    border: 3px solid #53f0e300;
    padding: 47px;
}

.video-container {
    position: relative;
    width: 100%;
    right: 0;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border: 2px solid #f0535300;
    margin-bottom: 15px;
    margin-left: -18px;
}

.video-container iframe {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 75%;
    height: 75%;
}

.achievements {
    display: flex;
    height: 250px;
}

.block1 {
    display: flex;
    width: 50%;
    height: 100%;
    border: 3px solid #f0e05300;
    position: relative;
    margin-left: 2px;
}

.block2 {
    display: flex;
    width: 50%;
    height: 100%;
    border: 3px solid #f0535300;
    position: relative;
    margin-right: 8px;
}

.text1 {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.text2 {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.text3 {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.text4 {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.text1, .text2, .text3, .text4 {
    justify-content: center;
    align-items: center;
}

.text1:hover {
    display: none;
}

.text2:hover {
    display: none;
}

.text3:hover {
    display: none;
}

.text4:hover {
    display: none;
}

.picture1 {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid #f0e053;
    background: url(https://sun9-36.userapi.com/impg/IItHosezJ-jygRRlQ9Tdpr-_eaXG6RifESfOHA/t-MO8upaQ7U.jpg?size=758x611&quality=95&sign=589c0cfb1549662f8e3f261ec8104959&type=album) no-repeat center center / cover;
}

.picture2 {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid #f0e053;
    background: url(https://sun9-9.userapi.com/impg/YRxBqfG5_Zew-RRVzIsD7ngAJuS9rbhSu3xbOA/jCID7-DsJrs.jpg?size=810x704&quality=95&sign=9a63fbc815c46bf8eed715a7a2f63d42&type=album) no-repeat center center / cover;
}

.picture4    {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid #f0e053;
    background: url(https://sun9-62.userapi.com/impg/U-69zcGZBZS__9j0K1-uoC6M4GP7wgM3OMziJw/xx7BbX7JLHQ.jpg?size=631x479&quality=95&sign=1cb9128e3767982a5077e4fe7792363a&type=album) no-repeat center center / cover;
}

.picture3 {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid #f0e053;
    background: url(https://sun9-59.userapi.com/impg/IikAdmT4SBNUgodmkIkxBzZZCD6HSCQy6Rkxmw/0gwGx9GW3bg.jpg?size=838x794&quality=95&sign=38f57f166b5fc3da1cf5e40a3ce3dd5c&type=album) no-repeat center center / cover;
}

.picture1:hover,
.text1:hover + .picture1 {
  display: flex;
}

.picture2:hover,
.text2:hover + .picture2 {
  display: flex;
}

.picture3:hover,
.text3:hover + .picture3 {
  display: flex;
}

.picture4:hover,
.text4:hover + .picture4 {
  display: flex;
}