body {
    background: url(https://zoom.us/docs/ent/virtual-bg-list/assets/img/Design/Autumn-leaves.jpg); 
    font-family: 'Courier New', Courier, monospace;
    padding: 100px 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 14px;
}

.container {
    width: 800px;
    min-height: 550px;
    border: 10px solid rgb(247, 247, 177);
    margin: 0 auto;
    background: rgb(247, 247, 177);
}

.header {
    display: flex;
    height: 200px;
}

.title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 80%;
    height: 100%;
    border: 3px solid red;
    margin-right: 10px;
   
}

.userpic {
    display: flex;
    width: 30%;
    height: 100%;
    border: 3px solid green;
    background: url(https://sun9-85.userapi.com/impf/c852320/v852320470/7a99a/_g6w2380mY8.jpg?size=1280x960&quality=96&sign=537ca15327589ce4d9e6ad8e3e81aeb7&type=album) no-repeat center center / cover;
}

.nav ul {
    display: flex;
    background-color: rgba(172, 255, 47, 0.404);
    margin: 10px 0;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-right: 1px solid green;
    transition: background .3s ease; 
}

.nav li a:hover {
background: rgba(164, 245, 42, 0.37);
}

.content-wrapper {
    display: flex;
}

.content {
    width: 70%;
    padding: 20px;
}

.sidebar {
    width: 30%;
    border: 1px solid blue;
    padding: 20px;
}